/* Global Styles */
:root{
    --darkbackground: #5d607a;
    --txtcolor: #e867ed;
}


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--darkbackground);
    color: antiquewhite;
    font-size: 16px;
    font-weight: normal;
}

/* Header Styles */
header{
    text-align: center;
}

header h1{
    font-size: 2.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


/* Main styles and macro card styles */
main{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 45px;
}

main p{
    font-size: 1.2em;
    color: var(--txtcolor);
    text-align: left;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card {
    display: block;
    border: 2px dashed #fff;
    flex: 0 0 25%;
    padding: 10px;
    margin: 10px;
}

.cardTitle{
    position: relative;
    margin-top: -25px;
    text-align: start;
    border: 1px solid;
    border-radius: 10px;
}

.code{
    display: flex;
    justify-content: center;
}

.cardTitle h2{
    font-size: 1.75em;
    font-weight: bold;
    color: var(--txtcolor);
    padding-left: 10px;
}

/* Hover transitions */
.card .cardTitle{
    transition: all 0.5s ease-in-out;
}

.card:hover, .card:hover .cardTitle, .card:hover .card {
	box-shadow: 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

/* .code box style */

code {
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    min-width: 200px;
    min-height: 200px;
    border-radius: 5px;
    color: #fff;
    font-family: monospace;
    font-weight: lighter;
    font-size: 1em;
    padding: 10px;
    margin: 0;
    text-align: left;
    user-select: all;
    display: flex;
}

/* Footer styles */
footer {
    text-align: center;
}

footer h3 {
    color: var(--lightcolor);
    font-weight: bold;
    font-size: 1.25em;
    font-family: sans-serif;
    margin: 20px;
}





/* media query to split into two columns at 992px or smaller*/

@media screen and (max-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
  }
  
  /* media query so they stacked on top of each other at 768px or smaller */
  
  @media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;

    }
  }