/* Global Styles */
:root{
    --darkbackground: #5d607a;
    --txtcolor: #e867ed;
}


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--darkbackground);
    color: antiquewhite;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid blue;
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

main p{
    font-size: 1.2em;

}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card {
    display: block;
    border: 2px dashed #fff;
    flex: 0 0 25%;
    padding: 10px;
    margin: 10px;
}

.cardTitle{
    position: relative;
    margin-top: -20px;
    text-align: start;
}